<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-smog"></i> Air Quality</h5>
    <p class="card-text">PM2.5: {{ airQuality.list[0].components.pm2_5 }} µg/m³</p>
    <p class="card-text">PM10: {{ airQuality.list[0].components.pm10 }} µg/m³</p>
    <p class="card-text">O3: {{ airQuality.list[0].components.o3 }} µg/m³</p>
    <p class="card-text">NO2: {{ airQuality.list[0].components.no2 }} µg/m³</p>
    <p class="card-text">SO2: {{ airQuality.list[0].components.so2 }} µg/m³</p>
    <p class="card-text">CO: {{ airQuality.list[0].components.co }} µg/m³</p>
  </div>
</div>
